@import "fonts";
@import "colors";

// Global Style Reset
* {
  margin: 0;
  padding: 0;
}

body,
html,
main {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: thin;
  font-size: 28px;
  margin-bottom: 20px;
}
article {
  animation: cardEaseInLeft ease-in 0.4s normal;
}

main {
  display: flex;
  background-color: $lightgrey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separator {
  display: flex;
  margin-top: 1.2rem;
  button {
    all: unset;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 94px;
    height: 94px;
    background-color: $purple;
    transition: all ease 0.3s;
    &:hover {
      background-color: $black;
    }
  }
  hr {
    width: 90%;
    border: thin solid $line;
    align-self: center;
  }
}
.card-calculator {
  background-color: $white;
  border-radius: 24px 24px 200px 24px;
  width: 55%;
  height: 80%;

  .card-content {
    padding: 4rem 4rem 0rem 4rem;
    .calculator-inputs {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .form-input {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label {
          text-transform: uppercase;
          font-family: "Poppins-Bold", sans-serif;
          font-size: 14px;
          letter-spacing: 3px;
          color: $grey;
        }
        input {
          cursor: pointer;
          width: 160px;
          height: 72px;
          outline: none;
          font-size: 32px;
          letter-spacing: 1%;
          font-family: "Poppins-Bold", sans-serif;
          border: thin solid $line;
          border-radius: 8px;
          padding-left: 1.5rem;
          transition: all ease 0.3s;
          &:hover {
            border: thin solid slateblue;
          }
          &:focus {
            border: thin solid slateblue;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          -moz-appearance: textfield;
        }
      }
    }
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  .data-day {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .data-month {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .data-year {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  span {
    color: $purple;
    font-size: 104px;
    letter-spacing: -2%;
    line-height: 110%;
    font-family: "Poppins-Extra-Bold", sans-serif;
  }
  h4 {
    font-size: 104px;
    letter-spacing: -2%;
    line-height: 110%;
    font-family: "Poppins-Extra-Bold", sans-serif;
  }
}

.age {
  opacity: 1;
  animation: ageEaseIn 0.4s ease normal;
}

.border-error {
  border: thin solid $red !important;
}

.error-text {
  color: $red !important;
  font-family: "Poppins-Regular", sans-serif;
}

@keyframes ageEaseIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes cardEaseInLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
