@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");
// Colors Palette

/** Primary **/
$deep-violet: #21092f;
$purplish-grey: #8f8694;
$lightgray: #dfdee0;
$white: #ffffff;
$red: #ff5050;
// Typography

body,
main {
  margin: 0;
  height: 100vh;
}
main {
  font-family: "Space Grotesk", sans-serif;
}

header {
  width: 100%;
  height: 240px;
  background: url("/src/assets/images/bg-main-mobile.png") repeat;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  img {
    width: 286px;
  }
  .card-back-wrapper {
    position: relative;
    float: right;
    margin-top: 2rem;
    margin-right: 1rem;
    #CVV {
      position: absolute;
      font-size: 9px;
      letter-spacing: 1.29px;
      line-height: normal;
      color: $white;
      right: 2rem;
      top: 4.5rem;
    }
  }
  .card-front-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 7.5rem;
    left: 1rem;
    z-index: 10;
    box-shadow: 0px 39px 60px 0px rgba(0, 0, 0, 0.14);
    img {
      position: relative;
    }
    #card-number {
      position: absolute;
      font-size: 18px;
      letter-spacing: 2.2px;
      line-height: normal;
      color: $white;
      transform: translate(1.5rem, 0);
      margin-top: 2rem;
    }
    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      bottom: 1rem;
      width: 100%;
      font-size: 9px;
      color: $white;
      #cardholder-name {
        padding-left: 1rem;
        text-transform: uppercase;
      }
      #expiry-date {
        padding-right: 1rem;
      }
    }
    .logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .big {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $white;
      }
      .small {
        width: 13.5px;
        height: 13.5px;
        border-radius: 50%;
        border: solid 1px $white;
      }
    }
  }
}

section {
  display: flex;
  justify-content: center;
  form {
    width: 85%;
    .form-footer {
      display: flex;
      #expiry-date-label {
        white-space: nowrap;
      }
      .expiry-date-form {
        display: flex;
        gap: 10px;
        margin-right: 1rem;
        input {
          width: 40%;
          padding: 0 10px !important;
        }
      }
    }
    .form-cvc {
      width: 50%;
    }
    .form-control {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 1rem;
      label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      input {
        height: 45px;
        border-radius: 8px;
        border: thin solid $lightgray;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        padding: 0 1rem;
        &::placeholder {
          color: $lightgray;
        }
      }
    }
  }
  button {
    background-color: $deep-violet;
    color: $white;
    border-radius: 8px;
    width: 100%;
    height: 53px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    font-family: "Space Grotesk", sans-serif;
    margin: 1rem 0;
  }
  .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 2rem;
    h1 {
      color: $deep-violet;
      font-size: 28px;
      letter-spacing: 3.42px;
      text-transform: uppercase;
      line-height: 10px;
      margin-top: 3rem;
      font-weight: 100;
    }
    h3 {
      color: $purplish-grey;
      font-size: 18px;
      font-weight: 400;
      line-height: 10px;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 1025px) {
  main {
    display: flex;
    flex: 1;
  }
  header {
    flex: 0.4;
    height: 100%;
    background: url("/src/assets/images/bg-main-desktop.png") no-repeat;
    margin: 0;
    .card-back-wrapper {
      position: absolute;
      bottom: 8rem;
      left: 15rem;
      img {
        box-shadow: 0px 39px 60px 0px rgb(0 0 0 / 14%);
        width: auto;
        border-radius: 8px;
      }
      #CVV {
        right: 3.5rem;
        top: 7rem;
        font-size: 14px;
      }
    }
    .card-front-wrapper {
      top: 20%;
      left: 10rem;
      img {
        width: auto;
      }
      #card-number {
        transform: translate(2.5rem, 0);
        font-size: 28px;
      }
      .card-footer {
        bottom: 1.5rem;
        font-size: 14px;
        #cardholder-name {
          padding-left: 2rem;
        }
        #expiry-date {
          padding-right: 2rem;
        }
      }
    }
  }
  section {
    flex: 1;
    height: 100%;
    align-items: center;
    form {
      width: 40%;
    }
    .success {
      width: 40%;
    }
  }
}

.error-field {
  border: thin solid $red !important;
}
.error {
  color: $red;
  font-size: 12px;
  font-weight: 400;
}
