@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");

// Colors Palette

/** Primary **/
$main: #2c2c2c;
$white: #ffffff;
// Typography

body,
main {
  margin: 0;
  height: 100vh;
}
main {
  font-family: "Rubik", sans-serif;
}

// App Style

// Header
header {
  width: 100%;
  height: 280px;

  background-image: url("../images/shape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  color: $white;
  letter-spacing: -0.29px;
}

// Search Bar
.search-bar {
  background-color: $white;
  height: 58px;
  width: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  input[type="text"] {
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
    color: $main;
    &::placeholder {
      color: lightgray;
    }
  }
  button {
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    font-size: 1.3rem;
    color: #fff;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(to bottom, $main 50%, #3f3f3f 50%);
    transition: all 1s ease;
    background-size: 100% 200%;
    background-position: top;
    &:hover {
      background-position: bottom;
    }
  }
}
.ip-address-info {
  z-index: 2;
  background-color: $white;
  height: 161px;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 12rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  .info {
    margin-top: 25px;
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid lightgray;
    height: 100px;
    h4 {
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.75px;
      line-height: auto;
      font-weight: bold;
      color: #969696;
      text-transform: uppercase;
      border-spacing: 10px;
    }
    h3 {
      font-size: 26px;
      font-weight: 500;
      line-height: 30px;
      margin-top: -0.4rem;
      letter-spacing: -0.23px;
      text-align: left;
      color: $main;
      vertical-align: top;
    }
  }
}

#map-box {
  margin: 0;
  width: 100vw;
  height: 67vh;
  #map {
    width: 100%;
    height: 100%;
  }
}

.marker {
  background-image: url("../images/icon-location.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/** Animation **/
h1 {
  animation: popUpText 0.6s forwards;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

.search-bar {
  animation: slideInUp ease 0.6s forwards;
  opacity: 0;
}

.ip-address-info {
  animation: slideInUp ease 1s forwards;
  opacity: 0;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes popUpText {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 26px;
    letter-spacing: -0.23px;
    line-height: 30px;
  }
  .search-bar {
    width: 80%;
  }
  .ip-address-info {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .info {
      width: 100%;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      margin-top: 0 !important;

      h3 {
        line-height: normal;
        font-size: 20px;
      }
      h4 {
        line-height: normal;
        font-size: 10px;
      }
    }
  }
}
